
global-exclude *
global-exclude .*
global-exclude *.pyc
global-exclude *.json
global-exclude *.yaml
global-exclude __pycache__/*
global-exclude *.ipynb
global-exclude *.puml

# --- Clean documentation packages ---
# recursive-include cad *.md
recursive-include core *.md
recursive-include oscal *.md
recursive-include processors *.md
recursive-include workflow *.md

# --- Never ship the following ---
prune workflow
prune docs

# --- Exclude the following ---
recursive-exclude *.puml
recursive-exclude *.md


include README.md LICENSE pyproject.toml wattleflow.png
